@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    color: #929292;
    max-width: 100vw;
}

main {
    padding-bottom: 35vh;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    height: 100%;
    position: relative;
}

header {
background-color: #8e2d53;
color: #fff;
padding: 22px;
height: 10vh;
}

.atf {
height: 30vh;
background-image: url("https://i.imgur.com/WKjYzxD.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
padding: 20% 10%;
margin-top: -10vh;
margin-bottom: 22px;
}

.atf-container {
    display: block;
    width: fit-content;
    background-color: #fff;
    padding: 36px;

}

#ctr {
    text-align: center;
    display: block;
}

.cta-btn {
    color: #fff;
    background-color: #8e2d53;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    border: none;
    padding: 12px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Open Sans', 'Arial', sans-serif;
    max-width: fit-content;
}

hr.full {
    border-top: 2px solid #8e2d53;
}

hr.half {
    border-top: 2px solid #8e2d53;
    width: 50%;
}

.row img {
    max-height: -webkit-fill-available;
    object-fit: cover;
}

img.social {
    width: 36px;
    height: 36px;
    margin: 4px;
}

footer {
    background-color: #8e2d53;
    color: #fff;
    padding: 22px;
    width: 100%;
}

footer img {
    max-height: 200px;
}

/*Navigation*/
.navbar-brand {
    font-family: 'Francois One', 'Arial', sans-serif;
    display: block;
    line-height: 1;
    text-indent: -99999px;
}

.navbar-brand a {
    font-size: 24px !important;
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
}

.navbar-brand {
    overflow: hidden;
    flex: 0 0 calc(100% - 3rem);
    max-width: 0 0 calc(100% - 3rem);
}

.navbar-brand a {
    text-decoration: none;
}

.navbar-toggle {
    border: 0 none;
    background-color: #8e2d53;
    color: #fff;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 1em;
    cursor: pointer;
}

.fa-bars {
    color: #fff;
}

.navbar {
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
    text-transform: uppercase;
}

.navbar.open {
    display: block;
}

.navbar,
.navbar ul,
.navbar li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar a:link,
.navbar a:active,
.navbar a:hover,
.navbar a:visited {
    display: block;
    overflow: hidden;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
}

.navbar .dropdown>a:after {
    content: "\f0d8";
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    position: absolute;
}

.navbar .dropdown.open>a:after {
    content: "\f0d7";
}

.navbar .dropdown ul {
    display: none;
}

.navbar .dropdown.open ul {
    display: block;
}

.navbar .dropdown ul a:link,
.navbar .dropdown ul a:active,
.navbar .dropdown ul a:hover,
.navbar .dropdown ul a:visited {
    background-color: #8e2d53;
    color: #fff;
}

.navbar .dropdown ul a:hover {
    background-color: #fff;
    color: #8e2d53;
}

@media screen and (min-width: 768px) {

    .navbar-brand {
        flex: 0 0 180px;
        max-width: 180px;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar {
        display: block;
        flex: 0 1 calc(100% - 220px);
        max-width: 0 1 calc(100% - 220px);
        text-align: right;
    }

    .navbar>li {
        display: inline-block;
    }

    .navbar .dropdown ul {
        position: absolute;
        z-index: 1;
        width: 200px;
        text-align: left;
    }
}

@media screen and (max-width: 768px) {

    .navbar.open {
        background-color: #8e2d53;
        z-index: 100;
    }

    .navbar.open a {
        color: #fff;
    }
}

/*Typography*/

h1,
h2,
h3 {
    font-family: 'Francois One', 'Arial', sans-serif;
    color: #8e2d53;
    line-height: 0;
}

p,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Arial', sans-serif;
}


/*Grid System*/
.container,
.container-fluid {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.container {
    padding: 22px;
}

.row {
    margin: 0 -1rem;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: normal;
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.col-1 {
    padding: 0 1rem;
    flex: 0 0 calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col-2 {
    padding: 0 1rem;
    flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-3 {
    padding: 0 1rem;
    flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.col-4 {
    padding: 0 1rem;
    flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col-5 {
    padding: 0 1rem;
    flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col-6 {
    padding: 0 1rem;
    flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col-7 {
    padding: 0 1rem;
    flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col-8 {
    padding: 0 1rem;
    flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}


.col-9 {
    padding: 0 1rem;
    flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col-10 {
    padding: 0 1rem;
    flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.col-11 {
    padding: 0 1rem;
    flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.col-12 {
    padding: 0 1rem;
    flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

/*X-Large*/
@media screen and (min-width: 1200px) {

    .col-xl-1 {
        flex: 0 0 calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }

    .col-xl-2 {
        flex: 0 0 calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }

    .col-xl-3 {
        flex: 0 0 calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }

    .col-xl-4 {
        flex: 0 0 calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }

    .col-xl-5 {
        flex: 0 0 calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }

    .col-xl-6 {
        flex: 0 0 calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }

    .col-xl-7 {
        flex: 0 0 calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }

    .col-xl-8 {
        flex: 0 0 calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }


    .col-xl-9 {
        flex: 0 0 calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }

    .col-xl-10 {
        flex: 0 0 calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }

    .col-xl-11 {
        flex: 0 0 calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }

    .col-xl-12 {
        flex: 0 0 calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
}

/*Large*/
@media screen and (min-width: 992px) {

    .col-lg-1 {
        flex: 0 0 calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }

    .col-lg-2 {
        flex: 0 0 calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }

    .col-lg-3 {
        flex: 0 0 calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }

    .col-lg-4 {
        flex: 0 0 calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }

    .col-lg-5 {
        flex: 0 0 calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }

    .col-lg-6 {
        flex: 0 0 calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }

    .col-lg-7 {
        flex: 0 0 calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }

    .col-lg-8 {
        flex: 0 0 calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }


    .col-lg-9 {
        flex: 0 0 calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }

    .col-lg-10 {
        flex: 0 0 calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }

    .col-lg-11 {
        flex: 0 0 calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }

    .col-lg-12 {
        flex: 0 0 calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
}

/*Medium*/
.col-md-1 {
    flex: 0 0 calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col-md-2 {
    flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-md-3 {
    flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.col-md-4 {
    flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col-md-5 {
    flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col-md-6 {
    flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col-md-7 {
    flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col-md-8 {
    flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}


.col-md-9 {
    flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col-md-10 {
    flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.col-md-11 {
    flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.col-md-12 {
    flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

/*Small*/
@media screen and (min-width: 768px) {
    .col-sm-1 {
        flex: 0 0 calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }

    .col-sm-2 {
        flex: 0 0 calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }

    .col-sm-3 {
        flex: 0 0 calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }

    .col-sm-4 {
        flex: 0 0 calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }

    .col-sm-5 {
        flex: 0 0 calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }

    .col-sm-6 {
        flex: 0 0 calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }

    .col-sm-7 {
        flex: 0 0 calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }

    .col-sm-8 {
        flex: 0 0 calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }


    .col-sm-9 {
        flex: 0 0 calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }

    .col-sm-10 {
        flex: 0 0 calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }

    .col-sm-11 {
        flex: 0 0 calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }

    .col-sm-12 {
        flex: 0 0 calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
}

/*X-Small*/
@media screen and (min-width: 576px) {
    .col-xs-1 {
        flex: 0 0 calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }

    .col-xs-2 {
        flex: 0 0 calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }

    .col-xs-3 {
        flex: 0 0 calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }

    .col-xs-4 {
        flex: 0 0 calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }

    .col-xs-5 {
        flex: 0 0 calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }

    .col-xs-6 {
        flex: 0 0 calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }

    .col-xs-7 {
        flex: 0 0 calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }

    .col-xs-8 {
        flex: 0 0 calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }


    .col-xs-9 {
        flex: 0 0 calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }

    .col-xs-10 {
        flex: 0 0 calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }

    .col-xs-11 {
        flex: 0 0 calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }

    .col-xs-12 {
        flex: 0 0 calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
}

/*Flexbox*/
.child {
    border: 10px solid limegreen;
}

.child-1 {
    flex: 1 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.child-1 .image {
    order: -1;
}

.child-1 .title {
    flex: 0 0 30%;
}

.child-1 .description {
    flex: 0 0 60%;
}

.child-2 {
    flex: 2 2 20%;
}

.child-3 {
    flex: 3 3 20%;
}

.child-4 {
    flex: 4 4 20%;
}

.child-5 {
    flex: 5 5 20%;
}